<app-navigation></app-navigation>
<div id="create-recipe-container">
  <h1 class="recipe-name-title">Create a New Recipe</h1>
  <form id="create-recipe-form">
    <div class="form-row">
      <h2 class="recipe-name-title" *ngIf="!recipeName">Recipe Name</h2>
      <h2 class="recipe-name-title">{{recipeName}}</h2>
      <input
        name="recipe-name"
        [(ngModel)]="recipeName"
        placeholder="please enter a recipe name"
        ngModel
        required
      />
    </div>
    <div class="form-row">
      <label class="form-label">Recipe Image</label>
      <img
        id="recipe-image"
        *ngIf="recipeImage"
        [src]="recipeImage"
        alt="recipe-image"
      />
      <input [(ngModel)]="recipeImage" name="recipe-image" required />
    </div>
    <div class="form-row">
      <div style="display: flex; align-items: center; margin-bottom: 10px">
        <label class="form-label" for="ingredients">Ingredients</label>
        <button class="add-button" (click)="addIngredient()">Add</button>
      </div>
      <ul>
        <li
          class="ingredient-instruction-container"
          *ngFor="
            let ingredient of ingredients;
            let index = index;
            trackBy: trackByIndex
          "
        >
          {{index+1}}
          <input
            class="ingredient-input"
            name="ingredient + {{index}}"
            [(ngModel)]="ingredients[index].name"
          />
          <button class="delete-button" (click)="deleteIngredient(index)">
            Delete
          </button>
        </li>
      </ul>
    </div>
    <div class="form-row">
      <div style="display: flex; align-items: center; margin-bottom: 10px">
        <label class="form-label" for="instructions">Instruction</label>
        <button class="add-button" (click)="addInstruction()">Add</button>
      </div>
      <ul>
        <li
          style="max-height: 1000px; max-width: 1000px"
          class="ingredient-instruction-container"
          *ngFor="
            let instruction of instructions;
            let index = index;
            trackBy: trackByIndex
          "
        >
          {{index+1}}
          <input
            class="instruction-input"
            name="instruction + {{index}}"
            [(ngModel)]="instructions[index].description"
            contenteditable="true"
          />
          <button class="delete-button" (click)="deleteInstruction(index)">
            Delete
          </button>
        </li>
      </ul>
    </div>
    <div class="form-row" style="align-items: center">
      <button id="create-button" (click)="submitNewRecipe()">
        Create New Recipe
      </button>
    </div>
  </form>
</div>
