::ng-deep :root {
  --appLightBlue: #abd9ff;
  --appDarkBlue: #92ccfc;
  --appLightOrange: #ffa93f;
  --appDarkOrange: #ff9c20;
  --appLightGrey: #f5f5f5;
}

* {
  background-color: var(--appLightGrey);
}
#login-container {
  margin: 20px auto 0 auto;
  width: 500px;
  height: 500px;
  border-radius: 15px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* color: white; */
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  text-align: left;
  /* border: 1px solid red; */
}

.form-row > label {
  margin-bottom: 10px;
  font-size: 22px;
  align-self: left;
}

.form-row > h1 {
  text-align: center;
}

.form-row > input {
  /* background-color: red; */
  /* background-color: #f7f7f7; */
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  border: none;
  outline: none;
}

input {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

#button-container {
  display: flex;
  flex-direction: row;
}

#button-container > button {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
}

#login-button {
  background-color: var(--appLightOrange);
}

#login-button:hover {
  background-color: var(--appDarkOrange);
}

#register-button {
  background-color: var(--appLightBlue);
}

#register-button:hover {
  background-color: var(--appDarkBlue);
}
