<app-navigation></app-navigation>
<div id="user-component-container">
  <div id="user-information-container">
    <h1>{{user.username}}</h1>
    <button id="logout-button" (click)="logout()">Logout</button>
  </div>
  <div id="my-recipes-container">
    <div id="my-recipes-header">
      <h2>My Recipes</h2>
      <a routerLink="recipe/create">
        <button id="create-recipe-button">Create New Recipe</button>
      </a>
    </div>
    <div id="my-recipes-recipes">
    <ul *ngFor="let recipe of recipes">
      <li class="recipe-container">
        <div id="recipe-container-button-container">
          <button (click)="deleteRecipe(recipe.id)" id="delete-button">
            Delete
          </button>
          <button routerLink="/recipe/update/{{recipe.id}}" id="edit-button">
            Change
          </button>
        </div>
        <a routerLink="/recipe/{{recipe.id}}">
          <img
            class="recipe-image"
            src="{{recipe.image}}"
            alt="{{recipe.name}}"
          />
        </a>
      </li>
    </ul>
    </div>

  </div>
</div>
