::ng-deep :root {
  --appLightBlue: #abd9ff;
  --appDarkBlue: #92ccfc;
  --appLightOrange: #ffa93f;
  --appDarkOrange: #ff9c20;
  --appLightGrey: #f5f5f5;
}/* --appLightBlue: #abd9ff; */

* {
  margin: 0;
  border: 0;
  padding: 0;
  /* background-color: #eef2ff; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

button {
  background-color: var(--appLightBlue);
  border-radius: 15px;
  /* padding: 10px; */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: var(--appDarkBlue);
}
