* {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #eef2ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  border-radius: 15px;
  padding: 10px;
  background-color: aquamarine;
}

button:hover {
  cursor: pointer;
}
